:root {
  --color-red: hsl(355, 66%, 50%);
  --color-red-lt: hsl(355, 70%, 54%);
  --color-black: hsl(0, 4%, 15%);
  --color-grey: hsl(0, 4%, 35%);
  --color-grey-lt: hsl(353, 4%, 55%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  overflow-x: clip;
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--color-black);
  font-weight: 800;
}

p {
  color: var(--color-grey);
  /* line-height: 1.5; */
  /* max-width: 35ch; */
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}
