.hero {
  display: grid;
  row-gap: 24px;
  padding-block: 22px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: var(--fs-1);
  line-height: 1.4;
  text-align: center;
}

.hero p {
  font-size: var(--fs-5);
  text-align: center;
  width: 250px;
}

.hero button {
  margin-top: 40px;
}

@media (width >= 70em) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding-block: 64px;
  }

  .hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .hero h1 {
    text-align: start;
  }

  .hero p {
    font-size: var(--fs-5);
    width: 100%;
    text-align: justify;
  }

  .hero button {
    margin-top: 48px;
  }
}
